@font-face {
    font-family: cursedTimer;
    src: url(Cursed_Timer_ULiL/CursedTimerULiL.ttf);
}

body{
    background-color: #1B244A;
}
.container{
    /*border: 3px solid red;*/
    display: flex;
    margin: 0;
    padding: 0;
    gap: 100px;
    margin: 0px 82px 0px 82px;
    height: 100vh;
    


}

.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: white;
    justify-content: center;
    
}


.team{
    /*border: 3px solid green;*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: center;
    gap: 20px;
    justify-content: center;
    
    
    
    
    
}

.buttons {
    display: flex;
    /*border: 3px solid blue;*/
    justify-content: space-between;
    

}

button{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-family: 'cursedTimer';
    padding: 10px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px
}

.counter {
    
    padding: 15px 0 0 0; 
    font-family: 'cursedTimer';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    color: #F94F6D;
    background: black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
 
    

}

span {
   /* border: 3px solid orange;*/
    justify-content: space-between;
    display: flex;
    
}
